




.main-page {
background-color: aquamarine;
align-content: center;
padding: 10px;
}
.header-card {
  background-color: darkslategray;
  align-content: center;
  margin-left: 25%;
  margin-right: 25%;
  padding:10px;
  text-align: center;
}
.book-card{
  background-color: midnightblue;
  color: white;
  padding: 10px;
  margin: 15px;
}
.card-title{
  text-align: center;

}
